<style>
		/* styling for the body */
		body {
			font-family: Arial, sans-serif;
			background-color: #ADD8E6;
			margin: 0;
			padding: 0;
		}
		
		/* styling for h1 */
		h1 {
			background-color: #333;
			color: #fff;
			padding: 10px 0;
			text-align: center;
		}
		
		/* styling for h2 */
		h2 {
			color: #fe584c;
			font-style: italic;
		}
		
		/* styling for h3 */
		h3 {
			color: #ff4032;
		}
		
		/* styling for the form */
		form {
			background-color: #fff;
			padding: 20px;
			margin: 20px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
		}
		/* styling for input fields */
		input[type="text"], input[type="email"], input[type="password"] {
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #ddd;
			border-radius: 5px;
		}
		/* styling for the submit button */
		input[type="submit"] {
			background-color: #333;
			color: #fff;
			padding: 10px 15px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
		
		input[type="submit"]:hover {
			background-color: #555;
		}
	</style>
